# Fichiers temporaires de Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.log
*.obj
*.pdb
*.ipch
*.tmp
*.db
*.exe
*.sys
*.dll
*.lib
*.idb
*.tlog
*.pch
*.aps
*.cachefile

# Dossiers de build
x64/
x86/
Debug/
Release/
build/
